body {
  background: #000000;
}

.mapContainer {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
}

.mapWrapper {
  padding: 50px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
}

.navLinks {
  display: flex;
  gap: 20px;
}

a:link {
  text-decoration: none;
  color: #4b465e;
}
a:visited {
  text-decoration: none;
  color: #0e0d0d;
}
a:hover {
  text-decoration: none;
  color: #22ca5d;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  color: #22ca5d;
}

.pageHeader {
  display: flex;
  align-items: center;
  color: #f1f1f1;
}

.form {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.formInput {
  width: 400px;
  height: 30px;
  border-radius: 10px;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  padding-left: 10px;
}

.forgotPasswordLink {
  padding: 50px;
  cursor: pointer;
  color: #00cc66;
  font-weight: 300;
}

.signUpBar,
.signInBar {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-color: #000000;
  font-weight: 300;
}

.button {
  background: #000000;
  border: #000000;
}

.arrowButton {
  padding-left: 10px;
  cursor: pointer;
  font-size: large;
  color: #00cc66;
}
