body {
  background: #000000;
}

.wrapper {
  padding: 50px;
}

.map-container {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

a:link {
  text-decoration: none;
  color: #4b465e;
}
a:visited {
  text-decoration: none;
  color: #0e0d0d;
}
a:hover {
  text-decoration: none;
  color: #22ca5d;
}
